<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Annotation Tool</title>

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/annotater.css" rel="stylesheet">
</head>

<body>
<div id="alert" role="alert"></div>

<div class="container-fluid">
    <div class="starter-template">
        <div class="col-md-8">
            <h3>Annotator</h3><hr>
            <div class="row">
                <!-- drop down list to show datasets  -->
                <div class="col-md-4">
                    <h4>Sources</h4>
                    <div class="form-group">
                        <select id="select" class="form-control"></select>
                    </div>
                </div>
                <!-- drop down list to show objects  -->
                <div id="row_annotation_type" class="col-md-4">
                    <div class="form-group">
                        <div id="annotation_type">
                            <h4>Group name</h4>
                            <select id="select_annotation_group_name" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <!-- drop down list to show labels  -->
                <div id="row_annotation_label" class="col-md-4">
                    <div class="form-group">
                        <div id="annotation_label">
                            <h4>Label</h4>
                            <select id="select_annotation_label" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>  <!-- row1-->

            <div id="div_auto_create_box" class="row">
                <div class="vertical_align">
                    <div class="btn-group" data-toggle="buttons">
                        <label id="label_auto_create_box" class="btn btn-danger">
                            <input  id="checkbox_auto_create_box" type="checkbox" autocomplete="off">Autocreation of torso box :
                            <span id="span_auto_create_box" class="glyphicon glyphicon-remove"></span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- canvas -->
            <div class="row">
                <div id="div_multilabels" class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label id="label_multilabels" class="btn btn-danger">
                            <input id="checkbox_multilabels" type="checkbox" autocomplete="off">Multilabels ? :
                            <span id="span_multilabels" class="glyphicon glyphicon-remove"></span>
                        </label>
                    </div>
                    <div id="selects_multilabels"></div>
                </div>

                <div class="col-md-10">
                    <canvas id="canvas" tabindex=0></canvas>
                </div>
            </div>
            <!-- end canvas-->

            <!-- details -->
            <div id="details" class="col-md-12">
                <div id="frames" class="col-sm-4"></div>
                <div id="spatial_annotations" class="col-sm-4"></div>
                <div id="time_annotations" class="col-sm-4"></div>
            </div>
            <!-- end details -->

        </div>

        <!-- Side menu -->
        <div class="col-md-4 bordered">
            <!-- keyboard shortcut -->
            <div class="card">
                <div class="card-header" role="tab">
                    <h4><a data-toggle="collapse" href="#keyboard_ref">Keyboard shortcuts reference</a></h4>
                </div>

                <div id="keyboard_ref" class="collapse">
                    <table class="table_shortcuts">
                        <tr>
                            <td>&#8678;/&#8680; or mouse wheel</td>
                            <td>Previous/next frame</td>
                        </tr>
                        <tr>
                            <td>&Uarr; (pgUp)</td>
                            <td>&uarr; 50 frames</td>
                        </tr>
                        <tr>
                            <td>&Darr; (pgDown)</td>
                            <td>&darr; 50 frames</td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>Next annotation type</td>
                        </tr>
                        <tr>
                            <td>z</td>
                            <td>Next annotation label</td>
                        </tr>
                        <tr>
                            <td>e</td>
                            <td>Next time annotation label</td>
                        </tr>
                        <tr>
                            <td>u</td>
                            <td>Undo last annotation step</td>
                        </tr>
                        <tr>
                            <td>c</td>
                            <td>Clear annotations in current frame</td>
                        </tr>

                        <tr>
                            <td>s</td>
                            <td>Show/hide labels</td>
                        </tr>
                        <tr>
                            <td>r</td>
                            <td>Recopy annotations from previous frame</td>
                        </tr>
                        <tr>
                            <td>p</td>
                            <td>Skip creation of a point</td>
                        </tr>
                        <tr>
                            <td>esc</td>
                            <td>Stop the current drawing</td>
                        </tr>
                        <tr>
                            <td>h + click</td>
                            <td>Toggle hidden annotation flag</td>
                        </tr>
                        <tr>
                            <td>d + click</td>
                            <td>Delete the box</td>
                        </tr>
                        <tr>
                            <td>shift + click</td>
                            <td>Resize box</td>
                        </tr>
                        <tr>
                            <td>ctrl + click</td>
                            <td>Move the box</td>
                        </tr>
                    </table>
                    <div class="row">
                        <br>
                    </div>
                </div>
                <!-- collapse-->
            </div>
            <hr>
            <!-- end keyboard shortcut -->

            <!-- Download and upload -->
            <div class="card">
                <div class="card-header" role="tab">
                    <h4><a data-toggle="collapse" href="#setup_parameters">Settings</a></h4>
                </div>

                <div id="setup_parameters" class="collapse">
                    <div class="card-block">
                        <table>
                            <tr>
                                <td>Upload Annotations </td>
                                <td><input id="upload" type="file" class="form-control input-md"></td>
                            </tr>
                            <tr><td><p></p></td></tr> <!-- Blank line-->
                            <tr>
                                <td>Download annotations </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <a id="download" href="#" class="btn btn-default"><i class="glyphicon glyphicon-download"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- upload previous annotations -->

                    </div>


                </div> <!--collapse-->
            </div>
            <hr>
            <!-- end download and upload -->

            <!-- Time annotation -->
            <div id="row_time_annotations" class="card">
                <div class="card-header" role="tab">
                    <h4><a data-toggle="collapse" href="#time_annotation">Time annotation</a></h4>
                </div>

                <div id="time_annotation" class="collapse">
                    <!-- drop down list to show objects  -->
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="select_time_annotation_type">Group name</label>
                                <select id="select_time_annotation_type" class="form-control"></select>
                            </div>
                            <div class="col-sm-6">
                                <label for="select_time_annotation_label">Time annotation</label>
                                <select id="select_time_annotation_label" class="form-control "></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group centered col-sm-6">
                            <div class="form-group">
                                <label for="start_box_time_annotation">Click to associate time annotation to a region</label>
                                <button id="start_box_time_annotation" type="button" class="btn btn-primary">Start drawing</button>
                            </div>
                        </div>
                    </div>
                    <!-- button -->
                    <div class="row">
                        <div class="form-group">
                            <button id="start_time_annotation" type="button" class="btn btn-success"></button>
                        </div>
                    </div>

                    <div id="time_annotations_in_progress"></div>
                </div> <!--collapse-->
            </div>
            <!-- end time annotation -->
        </div> <!--col-md-4-->
    </div> <!--tamplate-->
</div> <!-- container -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/jquery-2.2.2.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/sprintf.js"></script>
<script src="js/json2html.js"></script>
<script src="js/jquery.json2html.js"></script>
<script src="http://code.jquery.com/qunit/qunit-2.0.1.js"></script>
<script src="js/socket.io/socket.io.js"></script>
<script src="js/socket.js"></script>
<script src="js/annotator.js?v=28"></script>


</body>
</html>